<!doctype html>
<html lang="en" xmln:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
</head>

<body>
	<div class="container">
		<img src="" class="profile" th:src="@{image/profile.png}" alt="" />
		<h1>Adding Css,javascript and img</h1>
		<p>Lorem ipsum dolor sit amet,
			consectetur adipisicing elit.
			Impedit maiores assumenda eveniet
			mollitia quo quasi saepe voluptas
			aperiam ullam culpa?
		</p>
	</div>
</body>
<script src="" th:src="@{js/myjs.js}">



</script>

</html>